@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@600&display=swap');

@import "~bootstrap/dist/css/bootstrap.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~select2/dist/css/select2.css";

/*---------------------------------

Charte Graphique ENT

-------------------------------------*/

th, td {
    font-size: 0.8em;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    color: #303030;
    font-size: 10px;
}

body .select2-container .select2-search--inline .select2-search__field {
    font-size: 14px;
}

.navbar-dark {
    height: 56px;
}

.navbar-dark .navbar-toggler {
    border: 0;
}

.navbar-brand img {
    width: 162px;
}

#chapeau {
    padding: 60px 70px 50px;
    background-color: #f3f3f3;
}

#chapeau h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
}

#chapeau h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.375rem;
}

#filters form {
    margin-top: 30px;
}

#statistiques {
    padding: 70px;
}

label {
    font-size: 1rem;
}

th, td {
    font-size: 0.9375rem;
    text-align: center;
}

.btn.btn-primary,
.dt-button {
    background-color: #25b2f3;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 10px 20px;
    color: white;
}

.btn.btn-default {
    color: #25b2f3;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 10px 20px;
    text-decoration: underline;
}


table#result {
    border: 0;
}

table#result th:nth-child(n+3) {
    width: 8%;
}

table#result thead th {
    background-color: #25b2f3;
    border: 0;
}

table#result thead tr:first-child th {
    text-transform: uppercase;
}

table#result thead tr:nth-child(2) th:first-child,
table#result thead tr:nth-child(2) th:nth-child(2) {
    font-size: 1rem;

    text-transform: uppercase;
}

table#result thead tr:first-child th:nth-child(n+3) {
    background-color: #009fe3;
    font-size: 1rem;
    padding: 12px;
}

table#result thead tr:first-child th:nth-child(n+3) {
    border-left: 1px solid #fff;
}


table#result thead tr th,
table#result tbody tr td {
    padding: 7px 20px;
    border: 0;
    font-size: 1.25em;
}

table#result thead tr:nth-child(2) th:first-child,
table#result thead tr:nth-child(2) th:nth-child(2),
table#result tbody tr td:first-child,
table#result tbody tr td:nth-child(2) {
    text-align: left;
}

table#result.population .ratio-elem,
table#result.ratio .population-elem,
table#result.no-parent .parent-elem,
table#result.no-eleve .eleve-elem,
table#result.no-enseignant .enseignant-elem,
table#result.no-pers-non-ens .pers-non-ens-elem,
table#result.no-pers-col .pers-col-elem,
table#result.no-tuteur .tuteur-elem,
table#result.view-service .uai {
    display: none;
}

table.table-striped tbody tr:hover {
    background-color: #ddd;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #25b2f3;
    background-color: #25b2f3;
}

.dataTables_filter {
    display: none;
}

.dt-buttons {
    margin-bottom: 5px;
    text-align: right;
}

.select2-selection__rendered {
    font-size: 1.0rem;
}

.modal.fade.in {
    opacity: 1;
}

.topResult {
    width: 100%;
}

.topResult td {
    font-size: 0.8rem;
    padding: 5px 20px;
    text-align: left
}

.topResult td:nth-child(n+3) {
    text-align: right;
}

.topResult thead {
    font-weight: bold;
}

.top20 {
    background-color: #25b2f3;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    padding: 2px 5px;
    margin-right: 10px;
    cursor: pointer;
}

.modal-header {
    background: #009fe3;
    color: white;
}

.dataTables_info {
    display: none;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 50%;
}
}

#serviceTitle {
    font-weight: bold;
}

.rond {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px; 
}

.break {
    flex-basis: 100%;
    height: 0;
}