<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Statistiques</title>
        <script src="./assets/index.js"></script>
        <link rel="stylesheet" href="./assets/styles.css"/>
    </head>

    <body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container-fluid d-block">
                <a class="navbar-brand" href="./.."><img src="./images/logoNOC.svg" alt="Net O'Centre"></a>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
    <!-- Modal -->
    <div class="modal fade " id="topModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Classement par établissement pour <span id="serviceTitle"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="topContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>
    </body>
</html>