<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Statistiques</title>
        <script src="./assets/index.js"></script>
        <link rel="stylesheet" href="./assets/styles.css"/>
        <!-- Ajout pour le extended-uportal-header -->
        <script type="text/javascript" src="/commun/extended-uportal-header.min.js"></script>
        <!-- Ajout pour le extended-uportal-footer -->
        <script type="text/javascript" src="/commun/extended-uportal-footer.min.js"></script>
    </head>

    <body>
    <header>
        <extended-uportal-header messages='[{"locales": ["fr", "fr-FR"], "messages": { "message": {"header": {"login": "Connexion ENT" } }}}]'
            domain="{{ domain }}" fname="Statistiques"
            template-api-path="/commun/portal_template_api.tpl.json" >
        </extended-uportal-header>
    </header>
    {% block body %}
    {% endblock %}
    <!-- Modal -->
    <div class="modal fade " id="topModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Classement par établissement pour <span id="serviceTitle"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="topContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <extended-uportal-footer domain="{{ domain }}"
            template-api-path="/commun/portal_template_api.tpl.json"
            links='[{"title":"Accessibilité : partiellement conforme"},{"title":"CGU","href":"/files/textes/droits_usage.html"},{"title":"Apereo.org","href":"https://www.apereo.org/"},{"title":"ESUP-Portail","href":"https://www.esup-portail.org/"}]' >
        </extended-uportal-footer>
    </footer>
    </body>
</html>