{% extends 'base.html.twig' %}

{% block body %}
    <section id="chapeau">
        <div class="container-fluid">
            <div id="filters">
                <h1>Statistiques de fréquentation</h1>
                <h2>ENT Net O'Centre</h2>
                <p>Erreur : {{ message }}</p>
            </div>
    </section>
{% endblock %}