{% macro ratio(total_users, users) %}
    {% if total_users == 0 %}0{% else %}{{ (100*users/total_users)|round(2) }}% <span class="rond" style="background-color: rgb(0, {{ (255*min(1,users/total_users))|round }}, 0)"></span><br><i>({{ users|number_format(0, ',', ' ') }}&nbsp;/&nbsp;{{ total_users|number_format(0, ',', ' ') }})</i>{% endif %}
{% endmacro %}